@use './colors' as *;

@mixin wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 90em;
}

@mixin titleDesc {
	.box {
		grid-column: 1/-1;
		grid-row: 1/-1;
		visibility: hidden;
		z-index: -10;
		opacity: 0;
		transition: visibility 0.1s, opacity 0.1s;
	}

	.current {
		visibility: visible;
		z-index: 10;
	}

	.title {
		margin-bottom: 0.5em;
		font-size: 2.5rem;
		color: $marine-blue;
	}

	.desc {
		margin-bottom: 1.5em;
		color: $cool-gray;
		line-height: 1.5;
	}
}
