@use './colors' as *;
@use './fonts' as *;

@mixin wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 90em;
}

@mixin titleDesc {
	.box {
		grid-column: 1/-1;
		grid-row: 1/-1;
		visibility: hidden;
		z-index: -10;
		opacity: 0;
		transition: visibility 0.1s, opacity 0.1s;
	}

	.current {
		visibility: visible;
		z-index: 10;
	}

	.title {
		margin-bottom: 0.5em;
		font-size: 2.5rem;
		color: $marine-blue;
	}

	.desc {
		margin-bottom: 1.5em;
		color: $cool-gray;
		line-height: 1.5;
	}

	@media (min-width: 992px) {
		.box {
			display: block;
		}
	}
}

@mixin number {
	.stepNumber {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5em;
		height: 2.5em;
		color: $white;
		font-weight: $weight-700;
		border: 2px solid $white;
		border-radius: 50%;
		user-select: none;
		transition: border 0.1s, background-color 0.1s, color 0.1s;
	}

	.activeNumber {
		border: 2px solid $pastel-blue;
		background-color: $pastel-blue;
		color: $marine-blue;
	}
}

@mixin footerBar {
	.footer {
	display: flex;
	justify-content: space-between;
	padding: 1em 1.5em;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: $white;
	transition: visibility 0.1s;
}

.leftBtn,
.rightBtn {
	font-size: 1.6rem;
	font-weight: $weight-700;
}

.leftBtn {
	color: $cool-gray;
}

.rightBtn {
	margin-left: auto;
	padding: 0.9em 1.1em;
	width: 7.5em;
	color: $white;
	background-color: $marine-blue;
	border-radius: 0.4em;
	transition: background-color 0.2s;
}

.confirmBtn {
	background-color: $purplish-blue;
}

.none {
	display: none;
}
}
