@use '../../../../../sass/utilities' as *;

@include titleDesc;

.input {
	display: none;
}

.btnsBox {
	display: grid;
	row-gap: 1em;
}

.descBox,
.btn {
	display: flex;
}

.btn {
	column-gap: 0.8em;
	padding: 1.2em 0.9em;
	border: 1px solid $cool-gray;
	border-radius: 0.6em;
	cursor: pointer;
	transition: border 0.1s, background-color 0.1s;

	&:focus {
		background-color: $magnolia;
		border-color: $marine-blue;
	}
}

.active {
	background-color: $magnolia;
	border-color: $marine-blue;
}

.redBorder {
	border-color: hsl(354, 84%, 57%);
}

.icon {
	align-self: start;
}

.descBox {
	text-align: left;
	flex-direction: column;
	row-gap: 0.3em;
}

.descTitle {
	font-size: 1.7rem;
	color: $marine-blue;
}

.price {
	font-size: 1.5rem;
	color: $cool-gray;
}

.free {
	display: none;
	font-size: 1.3rem;
	color: $marine-blue;
	font-weight: $weight-500;
}

.show {
	display: block;
}

.periodTime {
	padding: 0.7em 0;
	display: flex;
	justify-content: center;
	column-gap: 1em;
	align-items: center;
	background-color: $alabaster;
	border-radius: 0.6em;
}

.periodText {
	font-weight: $weight-500;
	color: $cool-gray;
	transition: color 0.2s;
}

.periodBtn {
	position: relative;
	padding: 0.9em 2em;
	background-color: $marine-blue;
	border-radius: 1em;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 8%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		background-color: #fff;
		border-radius: 50%;
		transition: left 0.4s;
	}
}

.activeBtn {
	color: $marine-blue;
}

.btnPosition {
	&::before {
		left: 63%;
	}
}

@media (min-width: 992px) {
	.btnsBox {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.btn {
		width: 30%;
		row-gap: 3em;
		flex-direction: column;
	}

	.periodTime {
		margin-top: 1em;
		width: 100%;
	}
}
