@use '../../sass/utilities' as *;

@include number;

.headerPattern {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
}

.stepBox {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, auto);
	margin: 0 auto;
	margin-top: 1.7em;
	column-gap: 1em;
}



@media (min-width: 992px) {
	.header {
		display: none;
	}
}
