@use '../../../../../sass/utilities' as *;

@include titleDesc;

.box {
	padding: 3em 0;
	text-align: center;
}

.img {
	margin-bottom: 1em;
	width: 3.1em;
}

.desc {
	font-size: 1.54rem;
}

@media (min-width: 992px) {
	.box {
		margin: auto 0;
	}

	.img {
		width: 4.3em;
	}

	.desc {
		margin-top: 1em;
		font-size: 1.7rem;
	}
}
